* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #020631;
    /* background-color: #a4abf8; */
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 7rem;
    margin: 5%;
}

h1 {
    color: white;
    margin-bottom: 5%;
}

#todo {
    background-color: white;
    border-radius: 0.5rem;
    width: 19.5rem;
}

#todotext {
    margin-left: 0.5rem;
    border-radius: 0.5rem;
    width: 17rem;
    height: 2rem;
    border: none;
    
}

#todotext:focus {
    outline: none;
}

#todobutton {
    background-color: white;
    border: none;
    margin-right: 0.5rem;
}

#todobutton:hover {
    opacity: 0.5;
    cursor: pointer;
    
}

#thanks {
    color: #2C2C33;
    margin-top: 4rem;
    text-align: center;
}

#thanksto {
    color: #265C94;
}

#list__div{
    background-color: white;
    margin-top: 0.2rem;
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    width:19rem;
    height: 1.5rem;
    transition: 0.5s;
    
}
#close{
    color: coral;
    padding-left: 3rem;
}
#close:hover{
    color: red;
    cursor: pointer;
}

label{
    padding-left: 0.5rem;
}
input[type=checkbox]:checked + label{
text-decoration: line-through;

}
input{
    margin-left: 0.3rem;
}
